<<<<<<< HEAD

    <%- include('partials/header'); -%>
<h1>Contact</h1>
<p> 
  <%= contactDetails %>
</p> -->




<%- include('partials/footer'); -%> 
=======

    <%- include('partials/header'); -%>
<h1>Contact</h1>
<p> 
  <%= contactDetails %>
</p> -->




<%- include('partials/footer'); -%> 
>>>>>>> 6e5ef5e44f8d31fbdf089bc36d5063d1f52f0502
